<div class="section" id="experience">
        <div class="container cc-education">
            <div class="h4 text-center mb-4 title">
              Expérience professionnelle</div>
    <div class="colorlib-narrow-content">
       
        <div class="row">
            <div class="col-md-12">
             <div class="timeline-centered">
                 <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                    <div class="timeline-entry-inner">

                       <div class="timeline-icon color-1">
                          <i class="icon-pen2"></i>
                       </div>

                       <div class="timeline-label">
                        <h2>Projet PFE technicien supérieur en informatique mulimédia & web en 2010 <span>June, 2010</span></h2>
                         <h4> Développement d'un site web Dynamique</h4>
                          <p>J'ai utilisée:</p>
                        <ul>
                            <li>Langage:css,bootstrape,My SQL.</li>
                            <li>Modelisation:UML.</li>
                            <li>Outils:Visual studio 2008, SQL Server 2005.</li>
                        </ul>
                       
                       </div>
                    </div>
                 </article>


                 <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                    <div class="timeline-entry-inner">
                       <div class="timeline-icon color-2">
                          <i class="icon-pen2"></i>
                       </div>
                        <div class="timeline-label">
                        <h2>Animatrice dans des écoles maternelle & elementaire <span>Mai, 2014 - Mai,2018</span></h2>
                         <h4></h4>
                          <p>Activitée:
                         </p><ul>
                            <li>Création des flyers</li>
                            <li>canva</li>
                            <li>traitement des textes</li>
                            <li>Photoshop</li>
                            
                        </ul>
                        
                       </div>
                    </div>
                 </article>

                 
</div>
                
                
              </div>
           </div>
       </div>
    </div>
   </div>
