<div class="section" id="reference">
        <div class="container cc-reference">
          <div class="h4 mb-4 text-center title">References</div>
          <div class="card" data-aos="zoom-in">
            <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
              <ol class="carousel-indicators">
                <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
                <li data-target="#cc-Indicators" data-slide-to="1"></li>
               
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-lg-2 col-md-3 cc-reference-header">
                      <img src="assets/images/persona2.jpg" alt="Image" />
                      <div class="h5 pt-2">Assia M'Jalled</div>
                      <p class="category">Prof français </p>
                      <p class="category">Paris </p>
                    </div>
                    <div class="col-lg-10 col-md-9">
                    <p>
                      Sonia est un penseur créatif, innovant, responsable et assez rationnel.
                      Codant comme mode de vie, son travail présente des produits de grande qualité, suivant des normes
                      et bonnes pratiques. Il a réalisé un des projets.
                      Je suis tellement impressionné par ses techniques.
                    </p>
                    <p>
                      Elle a toujours été une génie travailleuse, créative et absolu dans sa pensée critique créative
                      Elle est toujours prêt à considérer comme ses nouvelles opportunités.
                    </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-lg-2 col-md-3 cc-reference-header">
                      <img src="assets/images/persona1.jpg" alt="Image" />
                      <h4>Thomas Jamais</h4>
                      <p class="category">Formateur</p>
                      <p class="category">Paris</p>
                    </div>
                    <div class="col-lg-10 col-md-9">
                      <p> Sonia est une très bonne étudiante, elle a des connaissances approfondie du développement
                        backend et frontend,
                        elle est toujours soucieux d'aller de l'avant sans avoir peur d'améliorer ou d'utiliser les
                        nouvelles technologies,
                        aider ses camarades à chaque fois
                      elle est capable et résout les problèmes d'une manière rapide et efficace avec son optimisme
                        typique </p>

                         <p>
                           <p> J'était son formateur pendant 7 mois, donc je la connais de mon
                             expérience personnelle
                             Tout le monde veut que cette fille fasse partie de son équipe. Et en tant que personnage, je
                             suis sûr que l'entreprise ne regrettera pas de l'embaucher.
                         </p>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>