<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2010</p>
              <div class="h5">Formation</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Simplon Nanterre</div>
               <h4 class="category">Formation de développeuse web javaScript full stack de 7  mois
               </h4>
               <ul>
                <li> Stagiaire " Fallaf " / Septembre 2019 <b>méthode agil,CMS,SEO,Sécurité</b> à Paris </li>
                    <li>CV <b>responsve,HTML&CSS</b>.</li>
                    
                 <li>Création d'un bot <b>Discord</b> permettant de communiquer avec les membres qui sont sur le serveur.</li>
                 <li>Développement d'un site responsive historique <b>Html&CSS,JavaScript,NodeJs,Express,EJS</b> présentant les grands Roi de la dynastie Capétienne.</li>
                  <li>Développement d'une <b>API</b> permettant la gestion des comptes utillisateurs.</li>
                   <li>Développement d'une application bancaire <b>HTML,CSS,VueJs,Jison DB</b> permettant la gestion des comptes utillisateurs.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
       <div class="card">
         <div class="row">
           <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
             <div class="card-body cc-education-header">
               <p>2014 - 2018</p>
               <div class="h5">Expériences professionnelles</div>
             </div>
           </div>
           <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
             <div class="card-body">
               <div class="h5"></div>
               <h4 class="category">Annimatrice dans des écoles maternelle & elementaire
               </h4>
               <ul>
                 <li>
                  Création des flyers,Canva,traitement des textes...
                 </li>
                 <li>
                Choix des couleurs.
                 </li>
                 <li>
                   Photoshope<b> </b>.
                 </li>
               </ul>
             </div>
           </div>
         </div>
       </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2007 - 2010</p>
              <div class="h5">Ecole superieure</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">ISSATS (Institut Supérieur des Sciences Appliquées et de Technologie de
                Sousse) Tunis</div>
               <h4 class="category"> Licence Appliquées
               </h4>
               <ul>
                <li>
                  L'institu était principalement axé sur les bases des sciences, des mathématiques et l'informatique.
                                  </li>
                                  <li>
                                    Il y avait également une bonne base sur l'informatique, les mathématiques.

                                  </li>
                                  <li>
                                      J'ai terminé mes études Supérieur avec mention<b> Bien</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2006 - 2007</p>
              <div class="h5">Brevet de collèges</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Collège</div>
               <h4 class="category">Othman Chatti Tunis
               </h4>
               <ul>
                <li>Bac Math obtenu avec mension Asser Bien
                </li>
               
                <li>
                  J'ai terminé mon école secondaire avec <b>13 de moyenne</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>