<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
        </div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
              <a href="#">
                <img src="assets/images/png20.jpg" alt="Image" />
              </a>
            </div>
            <div class="h2 title">Sonia Berriri</div>
            <p class="category text-white"> Full STack Developeuse</p>
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor">Contacter moi</a>
            <a class="btn btn-primary"
              href="https://drive.google.com/open?id=1ncvbJbYBWJhpSqFpZcY06mtWtlcTrqAV" target="_blank"
              data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Télécharger CV</a>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon" href="#"
                target="_blank" rel="tooltip" title="Suivez moi sur Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/oghanda8/?hl=fr"
                target="_blank" rel="tooltip" title="Suivez moi sur Instagram">
                <i class="fa fa-instagram"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon"
                href="https://www.linkedin.com/in/sonia-berriri-7a483716a/"
                target="_blank" rel="tooltip" title="Suivez moi sur Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://gitlab.com/sonia85pro"
                target="_blank" rel="tooltip" title="Suivez moi sur Gitlab">
                <i class="fa fa-gitlab"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/hamila_sonia"
                target="_blank" rel="tooltip" title="Suivez moi en Twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip"
                title="Follow me on Google+">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>